<%= form_for @customer, :url => url, :html => {:class => "form-horizontal col-sm-12 col-sm-offset-1"} do |f| %>
<br><br>
  <div class="form-group">
    <label for="customer_name" class="col-sm-2 control-label">Customer Name</label>
    <div class="col-sm-3">
      <%= f.text_field :name, :placeholder => "Enter Customer Name", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-3">
      <%= f.text_field :address, :placeholder => "Enter Customer Address", :class => "form-control" %>
    </div>
  </div> 

  <div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-3">
      <%= f.text_field :phone, :placeholder => "Enter Customer Phone", :class => "form-control" %>
    </div>
  </div>  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <%= f.submit 'Save', :class => "btn btn-default" %>
    </div>
  </div>
<% end %>