<%= form_for @product, :url => url, :html => {:class => "form-horizontal col-sm-12 col-sm-offset-1"} do |f| %>
<br><br>
  <div class="form-group">
    <label for="product_name" class="col-sm-2 control-label">Product Name</label>
    <div class="col-sm-3">
      <%= f.text_field :name, :placeholder => "Enter Product Name", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="quantity" class="col-sm-2 control-label">Quantity</label>
    <div class="col-sm-3">
      <%= f.text_field :quantity, :placeholder => "Enter Product Quantity per KG", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price</label>
      <div class="col-sm-3">
        <div class="input-group">
          <div class="input-group-addon">Rp</div>
            <%= f.text_field :price, :placeholder => "Amount", :class => "form-control" %>
          <div class="input-group-addon">.00</div>
        </div>
      </div>
  </div>   

  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">Ingredients</label>
    <div class="row">
      <div class="col-sm-5">
        <% @resources.each do |resource| %>
          <div>
            <label class="checkbox-inline">
              <%= check_box_tag "ingredients[#{resource.id}][name]", true, @product.resources.collect{|x|x.id}.include?(resource.id) %> <%= resource.name %>
            </label>
            <%= text_field_tag "ingredients[#{resource.id}][rate_percent]", "", :placeholder => "%" %>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <%= f.submit 'Save', :class => "btn btn-default" %>
    </div>
  </div>
<% end %>