<h1 class="page-header">Sale</h1>

<div class="form-group">
  <div class="col-sm-offset-1 col-sm-10">
    <%= link_to 'Add <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>'.html_safe, new_sale_path, :class => "btn btn-default" %>
    
    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div><!-- /input-group -->
    </div>

  </div>      
</div>
<div class="clearfix"></div>
<div class="table-responsive">
  <table class="table table-bordered">
    <caption></caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Product Name</th>
        <th>Customer Name</th>
        <th>Quantity</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.id %></td>
          <td><%= sale.date.strftime("%d-%m-%Y") %></td>
          <td><%= sale.product.name %></td>
          <td><%= sale.customer.name %></td>
          <td><%= sale.quantity %></td>
          <td>
            <%= link_to "Update", edit_sale_path(sale) %>
            &nbsp
            <a href="">Delete</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>